<a href="https://colab.research.google.com/github/arifuddinatif/engagement-score-predictor/blob/main/Engagement_score_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing necessary libraries
import numpy as np
import pandas as pd

In [ ]:
# loading the data

In [ ]:
train_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/projects/engagement score predictor/datasets/train_0OECtn8.csv')

In [ ]:
test_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/projects/engagement score predictor/datasets/test_1zqHu22.csv')

In [ ]:
sample_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/projects/engagement score predictor/datasets/sample_submission_JPlpRcN.csv')

In [ ]:
sample_df

       row_id  engagement_score
0       89198               5.0
1       89199               5.0
2       89200               5.0
3       89201               5.0
4       89202               5.0
...       ...               ...
11116  100314               5.0
11117  100315               5.0
11118  100316               5.0
11119  100317               5.0
11120  100318               5.0

[11121 rows x 2 columns]

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89197 entries, 0 to 89196
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   row_id            89197 non-null  int64
 1   user_id           89197 non-null  int64
 2   category_id       89197 non-null  int64
 3   video_id          89197 non-null  int64
 4   age               89197 non-null  int64
 5   gender            89197 non-null  object
 6   profession        89197 non-null  object
 7   followers         89197 non-null  int64
 8   views             89197 non-null  int64
 9   engagement_score  89197 non-null  float64
dtypes: float64(1), int64(7), object(2)
memory usage: 6.8+ MB

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11121 entries, 0 to 11120
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       11121 non-null  int64
 1   user_id      11121 non-null  int64
 2   category_id  11121 non-null  int64
 3   video_id     11121 non-null  int64
 4   age          11121 non-null  int64
 5   gender       11121 non-null  object
 6   profession   11121 non-null  object
 7   followers    11121 non-null  int64
 8   views        11121 non-null  int64
dtypes: int64(7), object(2)
memory usage: 782.1+ KB

In [ ]:
train_df.head()

   row_id  user_id  category_id  ...  followers  views engagement_score
0       1    19990           37  ...        180   1000             4.33
1       2     5304           32  ...        330    714             1.79
2       3     1840           12  ...        180    138             4.35
3       4    12597           23  ...        220    613             3.77
4       5    13626           23  ...        220    613             3.13

[5 rows x 10 columns]

In [ ]:
test_df.head()

   row_id  user_id  category_id  ...            profession  followers views
0   89198     7986           12  ...               Student        180   138
1   89199    11278           34  ...               Student        230   840
2   89200    17245            8  ...  Working Professional        280   628
3   89201     9851           16  ...               Student        270   462
4   89202    16008           34  ...                 Other        230   840

[5 rows x 9 columns]

In [ ]:
test_df['category_id'].unique()

array([12, 34,  8, 16, 42,  5, 21, 19,  4, 25,  9, 15, 13, 11,  7,  1, 31,
       32, 10, 29, 18, 46, 44])

In [ ]:
test_df['profession'].unique()

array(['Student', 'Working Professional', 'Other'], dtype=object)

In [ ]:
for i in range(len(train_df.gender)):
  if train_df['gender'][i] == 'Male':
    train_df['gender'][i] = 1
  else:
    train_df['gender'][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
for i in range(len(train_df.profession)):
  if train_df['profession'][i] == 'Student':
    train_df['profession'][i] = 1
  elif train_df['profession'][i] == 'Working Professional': 
    train_df['profession'][i] = 2
  else:
    train_df['profession'][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
for i in range(len(test_df.gender)):
  if test_df['gender'][i] == 'Male':
    test_df['gender'][i] = 1
  else:
    test_df['gender'][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
for i in range(len(test_df.profession)):
  if test_df['profession'][i] == 'Student':
    test_df['profession'][i] = 1
  elif test_df['profession'][i] == 'Working Professional': 
    test_df['profession'][i] = 2
  else:
    test_df['profession'][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
x_train = train_df.drop(['row_id','user_id','engagement_score'],axis = 1)
y_train = train_df['engagement_score']
x_test = test_df.drop(['row_id','user_id'],axis = 1)

In [ ]:
regressor = DecisionTreeRegressor()
model = regressor.fit(x_train , y_train)

In [ ]:
predictions_train = model.predict(x_train)

In [ ]:
predictions_test = model.predict(x_test)

In [ ]:
predictions_test

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_train, predictions_train)

0.5203627801958568

In [ ]:
data = list(zip(test_df['row_id'].values,predictions_test))

In [ ]:
submissions_df = pd.DataFrame(data, columns = ['row_id','engagement_score'])

In [ ]:
submissions_df

       row_id  engagement_score
0       89198          4.050000
1       89199          3.716000
2       89200          3.130000
3       89201          3.999091
4       89202          1.100000
...       ...               ...
11116  100314          4.131000
11117  100315          3.158750
11118  100316          3.880769
11119  100317          3.700000
11120  100318          3.090000

[11121 rows x 2 columns]

In [ ]:
sample_df

       row_id  engagement_score
0       89198               5.0
1       89199               5.0
2       89200               5.0
3       89201               5.0
4       89202               5.0
...       ...               ...
11116  100314               5.0
11117  100315               5.0
11118  100316               5.0
11119  100317               5.0
11120  100318               5.0

[11121 rows x 2 columns]

In [ ]:
submissions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11121 entries, 0 to 11120
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   row_id            11121 non-null  int64
 1   engagement_score  11121 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 173.9 KB

In [ ]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11121 entries, 0 to 11120
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   row_id            11121 non-null  int64
 1   engagement_score  11121 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 173.9 KB

In [ ]:
submissions_df.to_csv('submission_AV.csv')
!cp submission_AV.csv "drive/My Drive/Colab Notebooks/projects/engagement score predictor"